a {
  color: var(--blue500);
}

a:hover {
  text-decoration: underline;
}

a.active {
  background-color: var(--blue500);
  color: white;
}

code {
  font-size: 0.875em;
}

bp-layout {
  display: grid;
  gap: var(--space4);
  grid-template-areas:
    'header header'
    'sidebar main'
    'debug debug';
  max-inline-size: 1200px;
  margin-inline: auto;
}

bp-layout > nav {
  grid-area: header;
}

bp-sidebar {
  grid-area: sidebar;
  background-color: var(--gray100);
  border-radius: var(--borderRadius1);
}

bp-layout > main {
  grid-area: main;
}

bp-debug {
  grid-area: debug;
}

bp-code {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: 65ch;
}

bp-code input {
  display: none;
}

bp-code label {
  border: 1px solid green;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  order: initial;
  padding: 1rem 2rem;
  transition: background ease 0.3s;
  margin-right: 0.3rem;
  margin-top: 0;
  width: auto;
}

bp-code-ts,
bp-code-json {
  display: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  width: 100%;
}

bp-code input[type='radio']:checked + label,
bp-code input[type='radio']:checked + label {
  background: blue;
  color: white;
}

bp-code input[type='radio']:checked + label + bp-code-ts,
bp-code input[type='radio']:checked + label + bp-code-json {
  display: block;
}
